.RupRow{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
}

.RupRow .RupCellLine{
    width: 100%;
    display: block;
    float: left;
    margin: 0 auto;
}

.RupRow .RupCellLine .RupCell{
    display: block;
    float: left;
    margin: 0 auto;
}

.RupRow .LineOne .RupCell{
    width: calc(100% / 7);
}

.RupRow .LineTwo .RupCell{
    width: calc(100% / 6);
}

.RupRow .RupCellLine .RupCellHeader{
    width: 100%;
    margin: 5px auto;
}

.RupRow .RupCellLine .RupCellContent{
    width: 100%;
    margin: 5px auto;
}